.bordeImagen{
    border:6px double #737276;
	border-radius: 20px 20px 0px 0px; 
	box-shadow: 4px 4px 5px #333; 
	-webkit-box-shadow: 3px 3px 3px #696969; 
	-moz-box-shadow: 3px 3px 3px #696969;
	-ms-box-shadow: 3px 3px 3px #696969;
	background-color:#737276;
	}


.cajaA1{
	border-bottom: solid 5px #c00327 !important;
	border-top: solid 13px #c00327 !important;
	border-left: solid 2px #c00327 !important;
	border-right: solid 2px #c00327 !important;
	border-radius: 10px 10px 10px 10px;
	font-size: 16px;
	background-color: rgba(255,255,255, 0.4);
	font-family: Arial, Helvetica, sans-serif;
	padding:15px 15px 15px 15px;
	/*border: 1px solid #b5ccf8;*/
}

.cajaA2{
	border-bottom: solid 5px #b0afb4 !important;
	border-top: solid 13px #b0afb4 !important;
	border-left: solid 2px #b0afb4 !important;
	border-right: solid 2px #b0afb4 !important;
	border-radius: 10px 10px 10px 10px;
	font-size: 16px;
	background-color: rgba(255,255,255, 0.4);
	font-family: Arial, Helvetica, sans-serif;
	padding:15px 15px 15px 15px;
	/*border: 1px solid #b5ccf8;*/
}
.cajaA3{
	border-bottom: solid 5px #737276 !important;
	border-top: solid 13px #737276 !important;
	border-left: solid 2px #737276 !important;
	border-right: solid 2px #737276 !important;
	border-radius: 10px 10px 10px 10px;
	font-size: 16px;
	background-color: rgba(255,255,255, 0.4);
	font-family: Arial, Helvetica, sans-serif;
	padding:15px 15px 15px 15px;
	/*border: 1px solid #b5ccf8;*/
}

.centrado-fila {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*COMPATIBILIDAD CON EXPLORER*/
    display: -ms-flexbox;
    -ms-flex-direction: row;
     -ms-flex-align: center;
    -ms-flex-pack: center;
}

p,h1,h2,h3,h4,h5,li,ul{
	font-family: Arial, Helvetica, sans-serif !important;
}
td,th{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif !important;
}

.paddingCarousel{
   padding-left:10%;
   padding-right:12%;
   padding-top: 10px;

}

.bordeBlancoTabla{
	border:solid 1px;
}


.centrado-distribuido{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: space-around;
	align-items: center;
}

.TextoPie{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif !important;
}


.brillo{
	-webkit-animation: brillando 2000ms infinite;
	-moz-animation: brillando 2000ms infinite;
	-o-animation: brillando 2000ms infinite; 
	animation: brillando 2000ms infinite;  
	}

@-o-keyframes brillando { 
	0% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .0) inset; 
		border:red 2px solid !important;
		}
		
	50% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .55) inset; 
		border:red 2px solid !important;
		}
		
	100% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .0) inset; 
		border:red 2px solid !important;
		}
	}

@-webkit-keyframes brillando { 
	0% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .0) inset; 
		border:red 2px solid !important;
		}
		
	50% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .55) inset; 
		border:red 2px solid !important;
		}
		
	100% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .0) inset; 
		border:red 2px solid !important;
		}
	}

@-moz-keyframes brillando { 
	0% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .0) inset; 
		border:red 2px solid !important;
		}
		
	50% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .55) inset; 
		border:red 2px solid !important;
		}
		
	100% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .0) inset; 
		border:red 2px solid !important;
		}
	}

@keyframes brillando { 
	0% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .0) inset; 
		border:red 2px solid !important;
		}
		
	50% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .55) inset; 
		border:red 2px solid !important;
		}
		
	100% {
		box-shadow:0 0 8em 1em rgba(178, 0, 0, .0) inset; 
		border:red 2px solid !important;
		}
	}

